body {
  margin: 0;
  overflow: hidden;
}

x-layers-container.sc-x-layers{
   background-color: rgba(0, 0, 0, 0);
   background-image: none;
}
x-layers-container.sc-x-layers {
  border : none
}
@media (max-width: 800px) {
  .w3lsg-bubbles {
    display:none;
  }
  x-layers-container.sc-x-layers{
     background-color: white;
  }
}

#load {
  position: absolute;
  width: 100%;
  height: 10px;
  background-color: rgb(252, 252, 254);
  overflow: hidden;
  bottom: 0px;
}

#check {
    position: absolute;
    width: 100%;
    bottom: 20px;
}

#barre {
  width: 0;
  height: 10px;
  transition: 0s;
  background-color:  #275efe;
}




x-layers {
       --x-layers-width:100vw;
       --x-layers-height: calc(100vh - 100px);
       width: var(--x-layers-width);
       height: var(--x-layers-height);
       margin: 0 auto;
       position: relative;
     }


     .is-3d-view.sc-x-layers-canvas-h{
       -webkit-perspective: 9000px;
       perspective: 9000px;
       -webkit-transform: rotateY(0deg) rotateX(0deg);
       transform: rotateY(0deg) rotateX(0deg);
       transition: 10s;
     }

     body > div > x-layers > x-layers-upload > x-layers-container > div {
       transform: scale(0, 0);
       transition: 10s;
       left: 0px;
       margin-top: 0px;
     }

     .footer.footer--full.sc-x-layers-upload{
       display: none;
     }


     .w3lsg-bubbles {
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       z-index: -1;
     }
     .w3lsg-bubbles li {
       position: absolute;
       list-style: none;
       display: block;
       width: 40px;
       height: 40px;
       background: -webkit-linear-gradient(left, #1d3ede, #01e6f8);
       background: -ms-linear-gradient(left, #1d3ede, #01e6f8);
       background: -moz-linear-gradient(left, #1d3ede, #01e6f8);
       background: -o-linear-gradient(left, #1d3ede, #01e6f8);
       bottom: -160px;
       -webkit-animation: square 20s infinite;
       -moz-animation: square 250s infinite;
       -o-animation: square 20s infinite;
       -ms-animation: square 20s infinite;
       animation: square 20s infinite;
       -webkit-transition-timing-function: linear;
       -moz-transition-timing-function: linear;
       -o-transition-timing-function: linear;
       -ms-transition-timing-function: linear;
       transition-timing-function: linear;
       -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
       -o-border-radius: 50%;
       -ms-border-radius: 50%;
       border-radius: 50%;
     }
     .w3lsg-bubbles li:nth-child(1) {
       left: 10%;
     }
     .w3lsg-bubbles li:nth-child(2) {
       left: 20%;
       width: 80px;
       height: 80px;
       -webkit-animation-delay: 2s;
       -moz-animation-delay: 2s;
       -o-animation-delay: 2s;
       -ms-animation-delay: 2s;
       animation-delay: 2s;
       -webkit-animation-duration: 17s;
       -moz-animation-duration: 17s;
       -o-animation-duration: 17s;
       animation-duration: 17s;
     }
     .w3lsg-bubbles li:nth-child(3) {
       left: 25%;
       -webkit-animation-delay: 4s;
       -moz-animation-delay: 4s;
       -o-animation-delay: 4s;
       -ms-animation-delay: 4s;
       animation-delay: 4s;
     }
     .w3lsg-bubbles li:nth-child(4) {
       left: 40%;
       width: 60px;
       height: 60px;
       -webkit-animation-duration: 22s;
       -moz-animation-duration: 22s;
       -o-animation-duration: 22s;
       -ms-animation-duration: 22s;
       animation-duration: 22s;
       background-color: rgba(255, 255, 255, 0.25);
     }
     .w3lsg-bubbles li:nth-child(5) {
       left: 70%;
     }
     .w3lsg-bubbles li:nth-child(6) {
       left: 80%;
       width: 120px;
       height: 120px;
       -webkit-animation-delay: 3s;
       -moz-animation-delay: 3s;
       -o-animation-delay: 3s;
       -ms-animation-delay: 3s;
       animation-delay: 3s;
       background-color: rgba(255, 255, 255, 0.2);
     }
     .w3lsg-bubbles li:nth-child(7) {
       left: 32%;
       width: 160px;
       height: 160px;
       -webkit-animation-delay: 7s;
       -moz-animation-delay: 7s;
       -o-animation-delay: 7s;
       -ms-animation-delay: 7s;
       animation-delay: 7s;
     }
     .w3lsg-bubbles li:nth-child(8) {
       left: 55%;
       width: 20px;
       height: 20px;
       -webkit-animation-delay: 15s;
       -moz-animation-delay: 15s;
       animation-delay: 15s;
       -webkit-animation-duration: 40s;
       -moz-animation-duration: 40s;
       animation-duration: 40s;
     }
     .w3lsg-bubbles li:nth-child(9) {
       left: 25%;
       width: 10px;
       height: 10px;
       -webkit-animation-delay: 2s;
       animation-delay: 2s;
       -webkit-animation-duration: 40s;
       animation-duration: 40s;
       background-color: rgba(255, 255, 255, 0.3);
     }
     .w3lsg-bubbles li:nth-child(10) {
       left: 90%;
       width: 160px;
       height: 160px;
       -webkit-animation-delay: 11s;
       animation-delay: 11s;
     }
     @-webkit-keyframes square {
       0% {
         -webkit-transform: translateY(0);
         -moz-transform: translateY(0);
         -o-transform: translateY(0);
         -ms-transform: translateY(0);
         transform: translateY(0);
       }
       100% {
         -webkit-transform: translateY(-700px) rotate(600deg);
         -moz-transform: translateY(-700px) rotate(600deg);
         -o-transform: translateY(-700px) rotate(600deg);
         -ms-transform: translateY(-700px) rotate(600deg);
         transform: translateY(-700px) rotate(600deg);
       }
     }
     @keyframes square {
       0% {
         -webkit-transform: translateY(0);
         -moz-transform: translateY(0);
         -o-transform: translateY(0);
         -ms-transform: translateY(0);
         transform: translateY(0);
       }
       100% {
         -webkit-transform: translateY(-700px) rotate(600deg);
         -moz-transform: translateY(-700px) rotate(600deg);
         -o-transform: translateY(-700px) rotate(600deg);
         -ms-transform: translateY(-700px) rotate(600deg);
         transform: translateY(-700px) rotate(600deg);
       }
     }

     @supports (-webkit-appearance: none) or (-moz-appearance: none) {
     	 input[type='checkbox'], input[type='radio'] {
     		 --active: #275efe;
     		 --active-inner: #fff;
     		 --focus: 2px rgba(39, 94, 254, .3);
     		 --border: #bbc1e1;
     		 --border-hover: #275efe;
     		 --background: #fff;
     		 --disabled: #f6f8ff;
     		 --disabled-inner: #e1e6f9;
     		 -webkit-appearance: none;
     		 -moz-appearance: none;
     		 height: 28px;
     		 outline: none;
     		 display: inline-block;
     		 vertical-align: top;
     		 position: relative;
     		 margin: 0;
     		 cursor: pointer;
     		 border: 1px solid var(--bc, var(--border));
     		 background: var(--b, var(--background));
     		 transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
     	}
     	 input[type='checkbox']:after, input[type='radio']:after {
     		 content: '';
     		 display: block;
     		 left: 0;
     		 top: 0;
     		 position: absolute;
     		 transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
     	}
     	 input[type='checkbox']:checked, input[type='radio']:checked {
     		 --b: var(--active);
     		 --bc: var(--active);
     		 --d-o: 0.3s;
     		 --d-t: 0.6s;
     		 --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
     	}
     	 input[type='checkbox']:disabled, input[type='radio']:disabled {
     		 --b: var(--disabled);
     		 cursor: not-allowed;
     		 opacity: 0.9;
     	}
     	 input[type='checkbox']:disabled:checked, input[type='radio']:disabled:checked {
     		 --b: var(--disabled-inner);
     		 --bc: var(--border);
     	}
     	 input[type='checkbox']:disabled + label, input[type='radio']:disabled + label {
     		 cursor: not-allowed;
     	}
     	 input[type='checkbox']:hover:not(:checked):not(:disabled), input[type='radio']:hover:not(:checked):not(:disabled) {
     		 --bc: var(--border-hover);
     	}
     	 input[type='checkbox']:focus, input[type='radio']:focus {
     		 box-shadow: 0 0 0 var(--focus);
     	}
     	 input[type='checkbox']:not(.switch), input[type='radio']:not(.switch) {
     		 width: 21px;
     	}
     	 input[type='checkbox']:not(.switch):after, input[type='radio']:not(.switch):after {
     		 opacity: var(--o, 0);
     	}
     	 input[type='checkbox']:not(.switch):checked, input[type='radio']:not(.switch):checked {
     		 --o: 1;
     	}
     	 input[type='checkbox'] + label, input[type='radio'] + label {
     		 font-size: 14px;
     		 line-height: 21px;
     		 display: inline-block;
     		 vertical-align: top;
     		 cursor: pointer;
     		 margin-left: 4px;
     	}
     	 input[type='checkbox']:not(.switch) {
     		 border-radius: 7px;
     	}
     	 input[type='checkbox']:not(.switch):after {
     		 width: 5px;
     		 height: 9px;
     		 border: 2px solid var(--active-inner);
     		 border-top: 0;
     		 border-left: 0;
     		 left: 7px;
     		 top: 4px;
     		 transform: rotate(var(--r, 20deg));
     	}
     	 input[type='checkbox']:not(.switch):checked {
     		 --r: 43deg;
     	}
     	 input[type='checkbox'].switch {
     		 width: 58px;
     		 border-radius: 14px;
     	}
     	 input[type='checkbox'].switch:after {
     		 left: 2px;
     		 top: 2px;
     		 border-radius: 50%;
         width: 22px;
         height: 22px;
     		 background: var(--ab, var(--border));
     		 transform: translateX(var(--x, 0));
     	}
     	 input[type='checkbox'].switch:checked {
     		 --ab: var(--active-inner);
     		 --b: #275efe;
          --bc: #275efe;
     		 --x: 30px;
     	}
     	 input[type='checkbox'].switch:disabled:not(:checked):after {
     		 opacity: 0.6;
     	}
     	 input[type='radio'] {
     		 border-radius: 50%;
     	}
     	 input[type='radio']:after {
     		 width: 19px;
     		 height: 19px;
     		 border-radius: 50%;
     		 background: var(--active-inner);
     		 opacity: 0;
     		 transform: scale(var(--s, 0.7));
     	}
     	 input[type='radio']:checked {
     		 --s: 0.5;
     	}
     }
