/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/*-- reset --*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/*-- start editing from here --*/
a{text-decoration:none;}
.overflow{transition: 0.2s; opacity: 1; overflow: hidden;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*-- end reset --*/
body {
	background: white;
	background-size:cover;
	background-attachment: fixed;
	font-family: Asap, System, sans-serif !important;
	overflow: hidden;
	overflow-y: auto;
	font-size: 17px;
	height: 100vh;
}
h1 {
    font-size: 3em;
    text-align: center;
    color: #666666;
    font-weight: 100;
    text-transform: capitalize;
    letter-spacing: 4px;
    font-family: 'Roboto Condensed', sans-serif;
}
/*-- main --*/
.main-w3layouts {
	  height: 100%;
}
.main-agileinfo {
		vertical-align: middle;
    width: 35%;
    margin: 3em auto;
    background: rgba(0, 0, 0, 0.3);
    background-size: cover;
		border-radius: 20px;
}
.agileits-top {
    padding:3em;
}
input[type="text"], input[type="email"], input[type="password"] {
    font-size: 0.9em;
    color: #fff;
    font-weight: 100;
    width: 99.5%;
    display: block;
    border: none;
    padding: 0.8em;
    border: solid 1px rgba(255, 255, 255, 0.37);
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #fff 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #fff 4%);
    background-position: -800px 0;
    background-size: 100%;
    background-repeat: no-repeat;
    color: #fff;
	font-family: 'Roboto Condensed', sans-serif;
}
input.email,input.text.w3lpass  {
    margin: 2em 0;
}
.text:focus, .text:valid {
	box-shadow: none;
	outline: none;
	background-position: 0 0;
}
.text:focus::-webkit-input-placeholder, .text:valid::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.7);
	font-size: .9em;
	-webkit-transform: translateY(-30px);
	-moz-transform: translateY(-30px);
	-o-transform: translateY(-30px);
	-ms-transform: translateY(-30px);
	transform: translateY(-30px);
	visibility: visible !important;
}
::-webkit-input-placeholder {
	color: #fff;
	font-weight: 100;
}
:-moz-placeholder { /* Firefox 18- */
   color: #fff;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;
}
:-ms-input-placeholder {
   color: #fff;
}
input[type="submit"] {
    color: #fff;
		background-color: #1C94FE;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0.9em;
    -webkit-appearance: none;
    width: 100%;
    margin: 2em 0;
    letter-spacing: 4px;
		font-size: 18px;
    font-family: "OpenSans-Semibold";
    color: #fff;
    border-radius: 7px;
		font-weight: bold;

}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #1C94FE;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



input[type="submit"]:hover {
    -moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.58);
    box-shadow:0px -1px 3px 0 rgba(0, 0, 0, 0.58);
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    transition: .5s all;
		background-color: rgba(28, 148, 254, 0.85)
}
.agileits-top p {
    font-size: 1em;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
	font-weight: 300;
}
.agileits-top p a {
    color: #fff;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
    font-weight: 400;
}
.agileits-top p a:hover {
    color: #1C94FE;
}
/*-- //main --*/
/*-- checkbox --*/
.wthree-text label {
    font-size: 0.9em;
    color: #fff;
    font-weight: 200;
    cursor: pointer;
    position: relative;
}
input.checkbox {
    background: #1d3ede;
	cursor: pointer;
    width: 1.2em;
    height: 1.2em;
}
input.checkbox:before {
	content: "";
	position: absolute;
	width: 1.2em;
	height: 1.2em;
	background: inherit;
	cursor: pointer;
}
input.checkbox:after {
	content: "";
	position: absolute;
	top: 0px;
	left: 0;
	z-index: 1;
	width: 1.2em;
	height: 1.2em;
	border: 1px solid #fff;
	-webkit-transition: .4s ease-in-out;
	-moz-transition: .4s ease-in-out;
	-o-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}
input.checkbox:checked:after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	height: .5rem;
	border-color: #fff;
	border-top-color: transparent;
	border-right-color: transparent;
}
.anim input.checkbox:checked:after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	height: .5rem;
	border-color: transparent;
	border-right-color: transparent;
	animation: .4s rippling .4s ease;
	animation-fill-mode: forwards;
}
@keyframes rippling {
	50% {
		border-left-color: #fff;
	}
	100% {
		border-bottom-color: #fff;
		border-left-color: #fff;
	}
}
/*-- //checkbox --*/
/*-- copyright --*/
.w3copyright-agile {
    text-align: center;
}
.w3copyright-agile p {
    font-size: .9em;
    color: #666666;
    line-height: 1.8em;
    letter-spacing: 1px;
	font-weight: 100;
}
.w3copyright-agile p a{
    color: #666666;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.w3copyright-agile p a:hover{
    color: #1C94FE;
}
/*-- //copyright --*/
.wrapper {
	position: relative;
	overflow: hidden;
}
.w3lsg-bubbles {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.w3lsg-bubbles li {
	position: absolute;
	list-style: none;
	display: block;
	width: 40px;
	height: 40px;
	background: -webkit-linear-gradient(left, #1d3ede, #01e6f8);
	background: -ms-linear-gradient(left, #1d3ede, #01e6f8);
	background: -moz-linear-gradient(left, #1d3ede, #01e6f8);
	background: -o-linear-gradient(left, #1d3ede, #01e6f8);
	bottom: -160px;
	-webkit-animation: square 20s infinite;
	-moz-animation: square 250s infinite;
	-o-animation: square 20s infinite;
	-ms-animation: square 20s infinite;
	animation: square 20s infinite;
	-webkit-transition-timing-function: linear;
	-moz-transition-timing-function: linear;
	-o-transition-timing-function: linear;
	-ms-transition-timing-function: linear;
	transition-timing-function: linear;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
}
.w3lsg-bubbles li:nth-child(1) {
	left: 10%;
}
.w3lsg-bubbles li:nth-child(2) {
	left: 20%;
	width: 80px;
	height: 80px;
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	-o-animation-delay: 2s;
	-ms-animation-delay: 2s;
	animation-delay: 2s;
	-webkit-animation-duration: 17s;
	-moz-animation-duration: 17s;
	-o-animation-duration: 17s;
	animation-duration: 17s;
}
.w3lsg-bubbles li:nth-child(3) {
	left: 25%;
	-webkit-animation-delay: 4s;
	-moz-animation-delay: 4s;
	-o-animation-delay: 4s;
	-ms-animation-delay: 4s;
	animation-delay: 4s;
}
.w3lsg-bubbles li:nth-child(4) {
	left: 40%;
	width: 60px;
	height: 60px;
	-webkit-animation-duration: 22s;
	-moz-animation-duration: 22s;
	-o-animation-duration: 22s;
	-ms-animation-duration: 22s;
	animation-duration: 22s;
	background-color: rgba(255, 255, 255, 0.25);
}
.w3lsg-bubbles li:nth-child(5) {
	left: 70%;
}
.w3lsg-bubbles li:nth-child(6) {
	left: 80%;
	width: 120px;
	height: 120px;
	-webkit-animation-delay: 3s;
	-moz-animation-delay: 3s;
	-o-animation-delay: 3s;
	-ms-animation-delay: 3s;
	animation-delay: 3s;
	background-color: rgba(255, 255, 255, 0.2);
}
.w3lsg-bubbles li:nth-child(7) {
	left: 32%;
	width: 160px;
	height: 160px;
	-webkit-animation-delay: 7s;
	-moz-animation-delay: 7s;
	-o-animation-delay: 7s;
	-ms-animation-delay: 7s;
	animation-delay: 7s;
}
.w3lsg-bubbles li:nth-child(8) {
	left: 55%;
	width: 20px;
	height: 20px;
	-webkit-animation-delay: 15s;
	-moz-animation-delay: 15s;
	animation-delay: 15s;
	-webkit-animation-duration: 40s;
	-moz-animation-duration: 40s;
	animation-duration: 40s;
}
.w3lsg-bubbles li:nth-child(9) {
	left: 25%;
	width: 10px;
	height: 10px;
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
	-webkit-animation-duration: 40s;
	animation-duration: 40s;
	background-color: rgba(255, 255, 255, 0.3);
}
.w3lsg-bubbles li:nth-child(10) {
	left: 90%;
	width: 160px;
	height: 160px;
	-webkit-animation-delay: 11s;
	animation-delay: 11s;
}
@-webkit-keyframes square {
	0% {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-o-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		-webkit-transform: translateY(-700px) rotate(600deg);
		-moz-transform: translateY(-700px) rotate(600deg);
		-o-transform: translateY(-700px) rotate(600deg);
		-ms-transform: translateY(-700px) rotate(600deg);
		transform: translateY(-700px) rotate(600deg);
	}
}
@keyframes square {
	0% {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-o-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		-webkit-transform: translateY(-700px) rotate(600deg);
		-moz-transform: translateY(-700px) rotate(600deg);
		-o-transform: translateY(-700px) rotate(600deg);
		-ms-transform: translateY(-700px) rotate(600deg);
		transform: translateY(-700px) rotate(600deg);
	}
}
/*-- responsive-design --*/
@media(max-width:1440px){
input[type="text"], input[type="email"], input[type="password"] {
    width: 99.5%;
}
}
@media(max-width:1366px){
h1 {
    font-size: 2.6em;
}
.agileits-top {
    padding: 2.5em;
}
.main-agileinfo {
    margin: 2em auto;
}
.main-agileinfo {
    width: 36%;
}
}
@media(max-width:1280px){
.main-agileinfo {
    width: 40%;
}
}
@media(max-width:1080px){
.main-agileinfo {
    width: 46%;
}
}
@media(max-width:1024px){
.main-agileinfo {
    width: 49%;
}
}
@media(max-width:991px){
h1 {
    font-size: 2.4em;
}
}
@media(max-width:900px){
.main-agileinfo {
    width: 58%;
}
input[type="text"], input[type="email"], input[type="password"] {
    width: 93%;
}
}
@media(max-width:800px){
h1 {
    font-size: 2.2em;
}
}
@media(max-width:736px){
.main-agileinfo {
    width: 62%;
}
}
@media(max-width:667px){
.main-agileinfo {
    width: 67%;
}
}
@media(max-width:600px){
.agileits-top {
    padding: 2.2em;
}
input.email, input.text.w3lpass {
    margin: 1.5em 0;
}
input[type="submit"] {
    margin: 2em 0;
}
h1 {
    font-size: 2em;
    letter-spacing: 3px;
}
}
@media(max-width:568px){
.main-agileinfo {
    width: 75%;
}
.w3copyright-agile p {
    padding: 0 2em;
}
}
@media(max-width:480px){
h1 {
    font-size: 1.8em;
    letter-spacing: 3px;
}
.agileits-top {
    padding: 1.8em;
}
input[type="text"], input[type="email"], input[type="password"] {
    width: 91%;
}
.agileits-top p {
    font-size: 0.9em;
}
}
@media(max-width:414px){
h1 {
    font-size: 1.8em;
    letter-spacing: 2px;
}
.main-agileinfo {
    width: 85%;
    margin: 1.5em auto;
}
.text:focus, .text:valid {
	background-position: 0 0px;
}
.wthree-text ul li,.wthree-text ul li:nth-child(2){
    display: block;
    float: none;
}
.wthree-text ul li:nth-child(2) {
    margin-top: 1.5em;
}
input[type="submit"] {
    margin: 2em 0 1.5em;
    letter-spacing: 3px;
}
input[type="submit"] {
    margin: 2em 0 1.5em;
}
.w3copyright-agile {
    margin: 1em 0 1em;
}
}
@media(max-width:384px){
.main-agileinfo {
    width: 88%;
}
.w3copyright-agile p {
    padding: 0 1em;
}
}
@media(max-width:375px){
.agileits-top p {
    letter-spacing: 0px;
}
}
@media(max-width:320px){
.main-w3layouts {
    padding: 1.5em 0 0;
}
.agileits-top {
    padding: 1.2em;
}
.w3copyright-agile {
    margin: 0 0 1em;
}
input[type="text"], input[type="email"], input[type="password"] {
    width: 89.5%;
	font-size: 0.85em;
}
h1 {
    font-size: 1.7em;
    letter-spacing: 0px;
}
.main-agileinfo {
    width: 92%;
	margin: 1em auto;
}
.text:focus, .text:valid {
	background-position: 0 0px;
}
input[type="submit"] {
    margin: 1.5em 0;
	padding: 0.8em;
	font-size: .85em;
}
.w3copyright-agile p {
    font-size: .85em;
}
.wthree-text label {
    font-size: 0.85em;
}
.main-w3layouts {
    padding: 1em 0 0;
}
}

.title {
	font-size: 36px;
    font-family: "Lato-Black";
    text-transform: uppercase;
    background: -webkit-linear-gradient(left, #1d3ede, #01e6f8);
    background: -ms-linear-gradient(left, #1d3ede, #01e6f8);
    background: -moz-linear-gradient(left, #1d3ede, #01e6f8);
    background: -o-linear-gradient(left, #1d3ede, #01e6f8);
    -webkit-background-clip: text;
    -ms-background-clip: text;
    -o-background-clip: text;
    -webkit-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -o-text-fill-color: transparent;
}

.img-fluid {
  width: 320px;
  height: auto;
  margin-left: calc(50% - 160px);
}

@media(max-width:545px){
	.img-fluid {
		width: 300px;
		margin-left: calc(50% - 150px);
	}
}

@media(max-width:300px){
	.img-fluid {
		margin-left: 0px;
	}
}

@media(max-height:800px){
    .img-fluid {
	width: 190px;
	margin-left: calc(50% - 95px);
    }
    input[type="text"], input[type="email"], input[type="password"] {
	padding: 0.4em;
    }
    input[type="submit"] {
	padding: 0.3em;
    }
    .agileits-top {
	font-size: 13px;
    }
}
/*-- //responsive-design --*/

.agileits-top {
    padding-top: 15px;
    padding-bottom: 15px;
}

input.email, input.text.w3lpass {
    margin-top: 10px;
    margin-bottom: 10px;
}

input[type="submit"] {
    margin-top: 20px;
    margin-bottom: 10px;
}

.main-w3layouts {
	padding: 0px;
}

input.text {
	border-radius: 5px;
}

.message {
    padding: 0px 10px 0px 10px;
    width: 322px;
	margin-left: calc(50% - 161px);
	border-radius: 7px;
	color: white;
	z-index: 8;

}

.smooth {
	-webkit-animation: fadeinout 1s linear forwards;
	animation: fadeinout 1s linear forwards;
	opacity: 0;
}

.smooth2 {
	-webkit-animation: fadeinout .2s linear forwards;
	animation: fadeinout .2s linear forwards;
	opacity: 0;
}

.error {
	background-color: rgba(250, 0, 0, 0.6);
	border: 1px solid red;
	opacity: 1;
	transition: opacity 0.2s ease-out;
}

.succes {
	background-color: rgba(90,193,142, 0.8);
	border: 1px solid green;
	opacity: 1;
	transition: opacity 0.2s ease-out;
}

.cross {
    position: relative;
    font-size: 8px;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    padding-right: 1.7px;
    padding-left: 1.7px;
    padding-top: 0.01px;
    left: 295px;
    border: 1px solid white;
    cursor: pointer;
}


.nav {
	height: 100vh;
	position: absolute;
	z-index: 3;
	font-size: 1.3rem;
	line-height: 1.5;
	background-color: rgb(252, 253, 252);
	color: rgb(74, 79, 98);
	text-align: center;
	-webkit-transition: margin-left 0.5s ease-in-out; /* For Safari 3.1 to 6.0 */
  transition: margin-left 0.5s ease-in-out;
	border-right: 1px solid rgba(226, 225, 227, 0.6);
	box-shadow: 0px 3px 10px 3px rgba(226, 225, 227, 0.5);
	width: 200px;
}

.nav-active {
	color: #1C94FE;
}

.nav-active::before {
    content: ".";
    color: #1C94FE;
    width: 3px;
    height: 100%;
    background-color: #1C94FE;
    margin-left: -15px;
    margin-right: 9px;
}

.nav-active:hover:before {
	background-color: #211267;
	color: #211267;
}

.nav-text {
	text-align:left;
	margin-left: 15px;
	cursor: pointer;
	margin-bottom: 5px;
	margin-top: 5px;
	-webkit-transition: color .1s ease-in;
  -moz-transition: color .1s ease-in;
  -o-transition: color .1s ease-in;
  transition: color .1s ease-in;
}

.nav-text:hover {
	color: #1C94FE;
}

.nav-active:hover {
	color: #211267;
}

.sep {
	width: calc(100% - 16px);
	height: 1px;
	background-color: rgb(174, 179, 198);
	margin-left: 8px;
	margin-top: 10px;
	margin-bottom: 15px;
}


.open {

}

.closediv {
	margin-left: -200px;
}

.in-nav {
	width: 190px;
	position: absolute;
	bottom: 5px;
	text-align: center;
	left: 5px;
}

.in-nav p {
	color: rgb(74, 79, 98);
	font-size: .8rem;
}


.img-nav {
	width: 180px;
	min-width: 180px;
}

.menu-open {
	width: 20px;
	position: absolute;
	right: 2px;
	top: 2px;
	transition: .2s;
	cursor: pointer;
	transition: color .1s ease-in;
}

.menu-close {
	width: 30px;
	height: 30px;
	max-width: 40px;
	position: absolute;
	right: -36px;
	top: 5px;
	transition: 0.2s;
	cursor: pointer;
	background-color: white;
	border-radius: 7px;
	padding: 3px;
	border: 1.5px solid #1C94FE;
	opacity: 1;
}

.menu-open:hover {
	width: 30px;
}

.menu-close:hover {
	width: 40px;
	height: 40px;
	right: -46px;
}

.closediv .overflow {
	opacity: 0;
}

.main {
	width: calc(100%);
	height: 100vh;
	overflow: hidden;
	margin-left: 0px;
	background-color:rgb(255, 255, 255);
}

.blur {
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

.nav-second {
	font-size: 1rem;
	margin-left: 30px;
	display: none;
}

.display {
	display: block
}

.nav-second-active {
	color: #1C94FE;
	margin-left: 15px;
}

.nav-second-active::before {
		content:"\A";
		width:10px;
		height:10px;
		border-radius:50%;
		background:#1C94FE;
		display:inline-block;
		margin-right: 5px;
		margin-bottom: 1px;
}
.nav-second-active:hover {
	color: #211267;
}

.nav-second-active:hover:before {
	background-color: #211267;
	color: #211267;
}

.back {
	position: absolute;
	height: 100vh;
	width: calc(100%);
	overflow: hidden;
	margin-left: 0px;
	background-color: rgba(20, 20, 20, .2);
	z-index: 2;
	opacity: 1;
	transition: opacity 0.5s ease-out;
}

@keyframes fadeinout {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.hide {
	height: 0;
	overflow: hidden;
	transition: opacity 0.5s ease-out;
	opacity: 0;
	padding: 0px;
}



.base {
	background-color: rgb(255, 255, 255);
	width: 700px;
	max-width: 100%;
	height: 600px;
	max-height: 100%;
	margin-left: calc(50% - 250px);
	margin-top: calc(50vh - 400px);
	border-radius: 7px;
	text-align: center;
	color: rgb(74, 79, 98);
}

.title-base {
	font-size: 1.3rem;
	padding-top: 10px;
	margin-bottom: 5px;
}

.errdiv {
		position: absolute;
    z-index: 10;
    top: calc(85vh - 42px);
		width: 100%;
		margin-left: 0px;
	}

.usualcenter {
		width: calc(100% - 201px);
		margin-left: 201px;
	}

@media(max-width:900px){
	.back {
		z-index: 5;
	}

	.base {
		height: 700px;
		margin-left: calc(50% - 350px);
		margin-top: calc(50vh - 450px);
	}

	.usualcenter {
		width: 100%;
		margin-left: 0px;
	}
}

@media(max-height:925px){
	.base {
		margin-top: 50px;
	}
}

@media(max-height:750px){
	.base {
		margin-top: 10px;;
	}
}

@media(max-height:610px){
	.base {
		margin-top: 5px;;
	}
}

@media(max-height:600px){
	.base {
		margin-top: 0px;;
	}
}

@media(max-width:700px){
	.base {
		height: 100vh;
		margin-left: 0px;
		margin-top: 0px;
		border-radius: 0px;
	}

	.cont table {
	    font-size: .8rem;
	}
}

@media(max-width:550px){
    .cont table {
	margin-left: -6%;
	width: 112% !important;
    }
}


#errorProgress {
  width: 322px;
	margin-left: -11px;
	margin-top: 3px;
	border-radius: 0px 0px 7px 7px;
	overflow: hidden;
}

#errorBar {
	  width: 0%;
	  height: 6px;
		background-color: green;
	}


.infos {
	width: calc(100% - 240px);
	margin-left: 220px;
	margin-top: 20px;
	padding: 20px;
}

.cont {
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(216, 215, 217);
	width: 100%;
	border-radius: 7px;
	min-height: 200px;
	text-align: center;
	color: rgb(74, 79, 98);
	padding: 20px;
	transition: .1s;
}

.cont-hover {}
.cont-hover:hover {
	box-shadow: 0px 3px 10px 3px rgba(226, 225, 227, 0.5);
	border: 1px solid rgb(28, 148, 254);
}

.title-cont{
		margin-top: -14px;
	  margin-bottom: 15px;
	  font-size: 1.4rem;
		color: #211267;
}

.note-cont {
    fill: rgb(178, 182, 195);
    vertical-align: middle;
    height: 16px;
    width: 16px;
    min-width: 16px;
    min-height: 16px;
}

.note-cont:hover::after {
	width: 200px;
	height: 200px;
	background-color: red;
}

@media(max-width:700px){
	.infos {
			width: calc(100% - 0px);
			margin-left: 0px;
	}

	.cont {
		min-height: 0px;
	}

	.main {
		overflow-y: scroll;
	}

}


.wc-button {
	background-color: #1C94FE;
	font-size: 18px;
	color: #fff;
	border-radius: 7px;
	padding: 3px 7px;
	display: inline-block;
	text-transform: uppercase;
	padding-right: 5px;
	width: 107px;
	text-decoration: none !important;
	cursor: pointer;
}


.note {
	display: inline-block;
	margin-top: -21px;
}

.notetext {
  visibility: hidden;
	background-color: rgba(20, 20, 20, .85);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 10;
  font-size: 12px;
  padding: 3px;
  display: block;
  margin-left: 12px;
  margin-top: -12px;
}

.notewarning {
	margin-left: -4px;
	margin-top: -14px;
	}

.note:hover .notetext {
  visibility: visible;
}

.warning {
		fill: rgb(239, 87, 116);
    vertical-align: middle;
    height: 16px;
    width: 16px;
    min-width: 16px;
    min-height: 16px;
    background-color: white;
    margin: auto 0px;
		margin-top: -5px;
		margin-left: -16px;
}

.modalecross {
	margin-left: calc(100% - 35px);
margin-top: -37px;
position: static;
margin-bottom: 37px;
font-size: 21px;
}

.margin5px {
	margin-top: 5px;
}

.compinput {
	color: rgb(74, 79, 98) !important;
	border: .5px solid rgb(216, 215, 217) !important;
	text-align: center;
	caret-color: rgb(28, 148, 254);
}

.compinput:focus {
	box-shadow: 0px 3px 10px 3px rgba(226, 225, 227, 0.5) !important;
	border: .5px solid rgb(28, 148, 254) !important;
	color: rgb(28, 148, 254) !important;
}

.compinput:hover {
	box-shadow: 0px 3px 10px 3px rgba(226, 225, 227, 0.5) !important;
	border: .5px solid rgb(28, 148, 254) !important;
}

.sepinput {
	height: 20px;
	width: 100%;
}

.hidesm {
	display: block;
}

.hidelg {
        display: block;
}

.modalelist {
	overflow-y: scroll;
	 height: 200px;
	 margin-left: 15px;
}

.sm-modalelist {
	overflow-y: scroll;
	 height: 130px;
	 margin-left: 15px;
}

@media(max-width:768px){
	.hidemd {
		display: none;
	}

	.intersepinput {
		height: 20px;
		width: 100%;
	}
}

@media(min-width:992px){
     .hidelg {
	display: none;
    }
}

@media(max-width:575px){
	.hidemd {
		display: block;
	}
	.hidesm {
		display: none;
	}
	.intersepinput {
		height: 10px;
		width: 100%;
	}
	.sepinput {
		height: 10px;
		width: 100%;
	}

	.modalelist {
		height: auto;
		max-height: 500px;
	}

	@media(max-height:610px){
		.modalelist {
			max-height: 300px;
		}
		.sm-modalelist {
			max-height: 200px;
		}
	}

	@media(max-height:700px){
		.modalelist {
			max-height: 450px;
		}
		.sm-modalelist {
			max-height: 350px;
		}
	}
}

@media(min-height:850px){
	@media(max-width:700px){
		.sm-modalelist {
			height: auto;
			max-height: 400px;
			color: red;
		}
}


}

#vueprofile {
	overflow-y: scroll;
}

.insidecomp {
	margin-top: 60px;
}

.softtext {
	color: rgba(74, 79, 98, 0.7) !important;
}

.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.deletecard {
	margin-top: 0px;
	border: 0px;
	font-size: 14px;
	font-weight: 700;
	position: static;
}

.deletecard:hover {
	color:red;
}

.datelist {
	text-align: right;
	font-size: 11px;
	margin-top: 6px;
	color: rgba(20, 20, 20, .6)
}

.errorbtn {
	background-color: #F44336 !important;
	color: white;
	border-radius: 2px;
	padding-left: 4px;
	padding-right: 5px;
}


.successbtn {
	background-color: #03ba00 !important;
	color: white;
	border-radius: 2px;
	padding-left: 4px;
	padding-right: 5px;
}

.testbtn {
	background-color: #ff970f !important;
	color: white;
	border-radius: 2px;
	padding-left: 4px;
	padding-right: 5px;
}

.pointshare {
		padding: .75rem 1.25rem;
    background-color: #fff;
    border: 0.5px solid rgba(0,0,0,.125);
		border-radius: 2px;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
	 input[type='checkbox'], input[type='radio'] {
		 --active: #275efe;
		 --active-inner: #fff;
		 --focus: 2px rgba(253, 160, 39, .3);
		 --border: #bbc1e1;
		 --border-hover: #275efe;
		 --background: #fff;
		 --disabled: #f6f8ff;
		 --disabled-inner: #e1e6f9;
		 -webkit-appearance: none;
		 -moz-appearance: none;
		 height: 21px;
		 outline: none;
		 display: inline-block;
		 vertical-align: top;
		 position: relative;
		 margin: 0;
		 cursor: pointer;
		 border: 1px solid var(--bc, var(--border));
		 background: var(--b, var(--background));
		 transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
	}
	 input[type='checkbox']:after, input[type='radio']:after {
		 content: '';
		 display: block;
		 left: 0;
		 top: 0;
		 position: absolute;
		 transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
	}
	 input[type='checkbox']:checked, input[type='radio']:checked {
		 --b: var(--active);
		 --bc: var(--active);
		 --d-o: 0.3s;
		 --d-t: 0.6s;
		 --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
	}
	 input[type='checkbox']:disabled, input[type='radio']:disabled {
		 --b: var(--disabled);
		 cursor: not-allowed;
		 opacity: 0.9;
	}
	 input[type='checkbox']:disabled:checked, input[type='radio']:disabled:checked {
		 --b: var(--disabled-inner);
		 --bc: var(--border);
	}
	 input[type='checkbox']:disabled + label, input[type='radio']:disabled + label {
		 cursor: not-allowed;
	}
	 input[type='checkbox']:hover:not(:checked):not(:disabled), input[type='radio']:hover:not(:checked):not(:disabled) {
		 --bc: var(--border-hover);
	}
	 input[type='checkbox']:focus, input[type='radio']:focus {
		 box-shadow: 0 0 0 var(--focus);
	}
	 input[type='checkbox']:not(.switch), input[type='radio']:not(.switch) {
		 width: 21px;
	}
	 input[type='checkbox']:not(.switch):after, input[type='radio']:not(.switch):after {
		 opacity: var(--o, 0);
	}
	 input[type='checkbox']:not(.switch):checked, input[type='radio']:not(.switch):checked {
		 --o: 1;
	}
	 input[type='checkbox'] + label, input[type='radio'] + label {
		 font-size: 14px;
		 line-height: 21px;
		 display: inline-block;
		 vertical-align: top;
		 cursor: pointer;
		 margin-left: 4px;
	}
	 input[type='checkbox']:not(.switch) {
		 border-radius: 7px;
	}
	 input[type='checkbox']:not(.switch):after {
		 width: 5px;
		 height: 9px;
		 border: 2px solid var(--active-inner);
		 border-top: 0;
		 border-left: 0;
		 left: 7px;
		 top: 4px;
		 transform: rotate(var(--r, 20deg));
	}
	 input[type='checkbox']:not(.switch):checked {
		 --r: 43deg;
	}
	 input[type='checkbox'].switch {
		 width: 38px;
		 border-radius: 11px;
	}
	 input[type='checkbox'].switch:after {
		 left: 2px;
		 top: 2px;
		 border-radius: 50%;
		 width: 15px;
		 height: 15px;
		 background: var(--ab, var(--border));
		 transform: translateX(var(--x, 0));
	}
	 input[type='checkbox'].switch:checked {
		 --ab: var(--active-inner);
		 --b: #ff970f;
     --bc: #ff970f;
		 --x: 17px;
	}
	 input[type='checkbox'].switch:disabled:not(:checked):after {
		 opacity: 0.6;
	}
	 input[type='radio'] {
		 border-radius: 50%;
	}
	 input[type='radio']:after {
		 width: 19px;
		 height: 19px;
		 border-radius: 50%;
		 background: var(--active-inner);
		 opacity: 0;
		 transform: scale(var(--s, 0.7));
	}
	 input[type='radio']:checked {
		 --s: 0.5;
	}
}

.test-switch:hover:not(:checked):not(:disabled){
	--bc: #ff970f !important;
}

.test{
	background-image: -webkit-linear-gradient(0deg, #ff970f 0%, #ffc61c 100%);
	background-image: -ms-linear-gradient(0deg, #ff970f 0%, #ffc61c 100%);
	font-size: 14px;
}

.test-checkbox {
	width: 16px !important;
	height: 16px !important;
	top: 5px !important;
}

.large-checkbox {
	width: 21px !important;
	height: 21px !important;
	top: 6px !important;
}


.test-checkbox:checked {
	--b: #ff970f !important;
	--bc: #ff970f !important;
}

.test-checkbox:disabled:checked {
	--b: #f7c383 !important;
	--bc: #f9c585 !important;
}

.test-checkbox:hover:not(:checked):not(:disabled){
	--bc: #ff970f !important;
}

.test-checkbox:not(.switch):after {
	width: 4px !important;
	left: 5px !important;
	top: 2px !important;
}

.large-checkbox:not(.switch):after {
	width: 5px !important;
	left: 7px !important;
	top: 4px !important;
}

.test-nav:hover {
	color: #ff970f !important;
}

.inf-content {
	width: 300px;
	height: 80px;
}

@media(max-width:576px){
	.inf-content {
		width: 200px;
		height: 120px;
	}
}

@media(max-width:400px){
	.inf-content {
		width: 160px;
	}
}

.notebarholder{
	width: 100%;
  background-color: rgb(100, 100, 100);
	overflow: hidden;
	border-radius: 7px;
	margin-top: 5px;
}

.notebar{
	width: 0%;
	height: 10px;
	background-color: grey;
}

#vuestats {
	overflow-y: scroll;
}

#vuecart {
	overflow-y: scroll;
}

.list-devices-stats {
	position: relative;
  display: block;
  padding: 0 1rem;
  background-color: #fff;
  border: 1px solid rgba(150,150,150,.125);
}

.marge {
	margin-top: 0.8rem;
	margin-bottom: 0.8rem;
}


.logintest{
	width:160px;
	margin-left: calc(50% - 80px);
	text-align:center;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 30px
}

.basic-input {
	border: 1px solid #ced4da;
	color: black;
}