<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Login - Wellcheck</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/font-awesome.css" rel="stylesheet" type="text/css">

<link rel="icon" href="imgs/logo.png" type="image/gipng">
<!-- //Custom Theme files -->
</head>
<body>
	<!-- main -->
	<div id="login" class="main-w3layouts wrapper">
		<img class="img-fluid" src="imgs/logo_v2.png" alt="">
		<div class="main-agileinfo">
			<div class="agileits-top">
					<input class="text email" type="email" name="email" v-model="email" placeholder="Email" required="">
					<input class="text" type="password" name="password" v-model="password1" placeholder="Password" required="">
					<input type="submit" value="SIGN IN" v-on:click="login">
				<p>Don't have an account ? <a href="./index.html"> Register Now!</a></p>
			</div>
		</div>
		<div style="" class="test wc-button logintest" v-on:click="logintest">Test the app</div>
		<br>
		<!-- copyright -->
		<msg usualcenter=false ref="extern"></msg>
		<div class="w3copyright-agile">
			<p>Wellcheck© 2019. All Rights Reserved.</p>
		</div>
		<!-- //copyright -->
		<ul class="w3lsg-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<!-- //main -->
	<script src="./js/conf.js"></script>
	<script src="./js/vue.js"></script>
	<script src="./js/axios.min.js"></script>
	<script src="./js/jquery.min.js"></script>
	<script src="./js/bootstrap.bundle.min.js"></script>
	<link href="./css/bootstrap.min.css" rel="stylesheet">
	<script src="./js/commons/comp_messages.js"></script>
	<script src="./js/commons/location.js"></script>
	<script src="./js/commons/cred.js"></script>
	<script src="./js/commons/user.js"></script>
  <script src="./js/login/login.js"></script>
</body>
</html>
